.nav-item{
letter-spacing:.2em;
font-size:14px;
text-transform:uppercase;
}
.dropdown-item{
letter-spacing:.2em;
font-size:14px;
text-transform:uppercase;
}
.my_footer{
height:60px;
}
.my_footer_p{
padding:20px;
font:10px ;
}
/***category***/
.my_row{
padding-top:15px;
}
.my_row .mx_auto{
font-size:12px;
}
.my_img{
width:100%;
height:auto;
}
.my_img_pad{
padding:5px;
}
.my_title{
font:16px bold;
text-transform:uppercase;
letter-spacing:1em;
}
.my_img_card{
width:100px;
height:100px;
}
/*** header_page ***/
.my_logo_img{
height:1px;
width:auto;
}

.my_pro_title{
font:16px;
text-transform:uppercase;
padding-top:15px;
padding-bottom:10px;
}
.my_pro_text{
padding-right:20px
}
.my_pro_title1{
padding-right:20px
}
.my_search_text{
padding-top:20px;
font-weight:50;
}

/***cart***/
.my_custom_table{
min-width:400px;
font-size:14px;
}
.my_custom_thead{
font-weight:normal;
text-transform:uppercase;
letter-spacing:.2em;
background-color:#f8f9fa!important;
}
.coustom_a{
text-decoration:none;
}
.coustom_icon{
text-decoration:none;
color:#868e96!important;
}